p {
  font-size: 8px;
}

body {
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 300px;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
}
