.notes {
  position: relative;
  display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;

  &__note {
    color: black;
    border: 1px solid gray;
    border-radius: 2px;
    width: 50px;
    height: 100px;
    background: white;
  }

  &__note-black {
    background-color: black;
    width: 10px;
    height: 60px;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 2;
  }
}
