.notes {
  position: relative;
  z-index: 1;
  display: flex;
  margin: 0 auto;
  align-items: flex-start;

  &__note {
    display: flex;
    color: black;
    border: 1px solid gray;
    border-radius: 2px;
    width: 50px;
    height: 100px;
    transition: all 0.07s;
    background: white;
    justify-content: center;
    align-items: flex-end;
    margin-left: -2px;

    &.playing {
      transform: scaleY(0.95) translateY(3px);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
      background-color: #ffd700;
    }
  }

  &__note-black {
    background-color: black;
    width: 15px;
    height: 60px;
    transition: all 0.07s;
    margin-left: -15px;
    margin-right: -6px;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &.playing {
      transform: scaleY(0.95) translateY(2px);
      box-shadow: 0 0 15px #ffc600;
    }
  }

  kbd {
    font-size: 10px;
  }
}
